In [1]:
print("Project workbook")

Project workbook

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("C:\\Users\\18005\\OneDrive\\Documents\\GitHub\\Project3-Traffic-Jam\\project\\train_revised.csv")

In [5]:
df = df.drop(columns=["seat_number", "ride_id", "payment_receipt", "travel_date", "max_capacity","payment_method"])
df = df[(df.travel_to == 'Nairobi') & (df.car_type == 'Bus')]
df = df.drop(columns = ["travel_to","car_type"])
df = df.drop_duplicates()

In [6]:
df

      travel_time travel_from
0            7:15      Migori
1            7:12      Migori
2            7:05      Keroka
3            7:10    Homa Bay
9            7:09    Homa Bay
...           ...         ...
48055        7:05      Ndhiwa
48327        7:10        Rodi
49796       23:09   Nyachenge
51299        5:00       Kisii
51644        5:10       Kisii

[124 rows x 2 columns]

In [7]:
df.travel_time.value_counts(normalize = True)

7:08     0.064516
7:04     0.056452
7:05     0.056452
7:13     0.056452
7:15     0.048387
7:00     0.048387
7:09     0.048387
7:12     0.048387
8:00     0.048387
7:14     0.040323
19:07    0.040323
7:02     0.040323
7:11     0.040323
7:10     0.040323
7:03     0.040323
6:59     0.040323
23:10    0.032258
7:07     0.032258
7:06     0.024194
19:04    0.024194
19:05    0.024194
19:03    0.024194
19:06    0.024194
23:09    0.024194
7:01     0.016129
5:10     0.008065
5:00     0.008065
Name: travel_time, dtype: float64